.container:before, .container:after {
	content: "";
	display: table;
}
.container:after {
	clear: both;
}
.item {
	float: left;
	margin-bottom: 2px;
  background-color: rgba(255,0,0,0.01);
}

.item:hover {
  opacity: 0.7;
}

.item img {
	max-width: 100%;
	height: auto;
	vertical-align: center;
}
.first-item {
	clear: both;
}
/* remove margin bottom on last row */
.last-row, .last-row ~ .item {
	margin-bottom: 2px;
}
