<div class="row">
  <koken:loop>
    <div class="col-xs-12 col-md-3">
      <div class="card">
        <div class="card-header"><i class="fa fa-clock-o"></i>
          <koken:time relative="true" />
        </div>
        <div class="card-block">
          <koken:link>
            <h4 class="card-title">{{ essay.title }}</h4>
          </koken:link>
          <p class="card-text">
              <koken:if data="featured_image" equals="">
            <koken:link> <img src="{{ location.theme_path }}/img/noimg.jpg" class="card-img-top img-fluid timeline-photo" width="100%" /> </koken:link>
              <koken:else>
                <koken:featured_image>
                  <koken:link>
                    <koken:img class="card-img-top timeline-photo" size="3:2" lazy="true" fade="true" />
                  </koken:link>
                </koken:featured_image>
              </koken:if>
            </p>
          </div>
        </div>
      </div>
    </koken:loop>
  </div>
