<koken:event_album_update>
    <div class="col-xs-{{ settings.columns_sm }} col-xs-{{ settings.columns_sm }} col-sm-{{ settings.columns_sm }} col-md-{{ settings.columns_md }} col-lg-{{ settings.columns_md }} col-xl-{{ settings.columns_md }}">
        <div class="card">
            <koken:link to="albums"><i class="fa fa-folder-open-o timeline_album_icon" aria-hidden="true" title="{{ labels.album.singular }} update"></i></koken:link>
            <span class="hidden-sm-down timeline_time"> <i class="fa fa-clock-o"></i> <koken:time relative="true" /></span>
            <koken:link title="View {{ album.title }}">
                <koken:img class="timeline-photo" lazy="true" fade="true" />
            </koken:link>
            <koken:link>
                <div class="card-header">
                    <span class="card-title">{{ album.title }} ({{ content.length }} new {{ content.length plural="items" singular="item" }})</span>
                    <div class="hidden-sm-up"> <i class="fa fa-clock-o"></i>
                        <koken:time relative="true" />
                    </div>
                </div>
            </koken:link>
        </div>
    </div>
</koken:event_album_update>
