<koken:event_album>
    <div class="col-xs-{{ settings.columns_sm }} col-xs-{{ settings.columns_sm }} col-sm-{{ settings.columns_sm }} col-md-{{ settings.columns_md }} col-lg-{{ settings.columns_md }} col-xl-{{ settings.columns_md }}">
        <div class="card">
            <koken:if data="album.album_type" equals="standard">
                <koken:link title="View {{ album.title }}">
                    <koken:img size="3:2" crop="true" class="timeline-photo" lazy="true" fade="true" />
                </koken:link>
            </koken:if>
            <!-- If a set, display each cover assigned to it plus a link to set.lens to view -->
            <koken:if data="album.album_type" equals="set">
                <koken:link title="View {{ album.title }}">
                    <koken:covers limit="3">
                        <koken:first>
                            <koken:img class="timeline-photo" lazy="true" fade="true" />
                        </koken:first>
                    </koken:covers>
                </koken:link>
            </koken:if>
            <div class="card-header">
                <koken:link to="albums"><i class="fa fa-folder-o" aria-hidden="true" title="{{ labels.album.singular }}"></i> </koken:link> <span class="card-title"><koken:link>{{ album.title }}</koken:link></span>

                <span class="pull-md-right hidden-sm-down"> <i class="fa fa-clock-o"></i>
          <koken:time relative="true" />
          </span>

                <div class="hidden-sm-up"> <i class="fa fa-clock-o"></i>
                    <koken:time relative="true" />
                </div>

            </div>
        </div>
    </div>
</koken:event_album>
