<div style="margin-top:8px; text-align:right;">

  <ul class="nav nav-tabs m-x-1 m-y-1" id="info" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1">Info</a>
    </li>
    <koken:if true="settings.show_exif">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2">Exif</a>
    </li>
  </koken:if>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1" role="tabpanel">

      <!-- Context -->
      <koken:if true="settings.show_context">
      <div>
          <koken:context>
              <i class="fa fa-folder-o"></i>
              <koken:link>
                  {{ context.title }}
              </koken:link>
              <br>{{ context.position }} of {{ context.total }}
              <koken:else>
                <i class="fa fa-folder-o"></i>  <koken:link to="contents">{{ labels.content.plural }}</koken:link>
          </koken:context>
      </div>
      </koken:if>

      <!-- Captured date -->
      <koken:if true="settings.show_captured_date">
      <div>
          <strong>Captured</strong> <br>{{ content.captured_on date_only="true" }}
      </div>
      </koken:if>

      <!-- Published date -->
      <koken:if true="settings.show_published_date">
      <div>
              <strong>Published</strong><br> <koken:time relative="true" />
      </div>
      </koken:if>

      <!-- Caption -->
      <koken:if true="settings.show_caption">
              <koken:not empty="content.caption">
      <div>
                  <strong>Caption</strong><br> {{ content.caption }}
      </div>
              </koken:not>
      </koken:if>

      <!-- Tags -->
      <koken:if true="settings.show_tags">
              <koken:tags>
        <div>
                <strong>{{ labels.tag.plural }}</strong><br>
                  <koken:loop>
                      <koken:link class="btn btn-sm btn-secondary"><i class="fa fa-tag"></i> {{ tag.title }}</koken:link>
                  </koken:loop>
      </div>
              </koken:tags>
      </koken:if>

      <!-- Categories -->
      <koken:if true="settings.show_categories">
              <koken:categories>
      <div>
                  <h6 class="text-muted" style="margin-top:10px;">{{ labels.category.plural }}</h6>
                  <koken:loop>
                      <koken:link class="btn btn-sm btn-secondary"><i class="fa fa-bookmark"></i> {{ category.title }}</koken:link>
                  </koken:loop>
      </div>
          </koken:categories>
      </koken:if>

    </div>
<koken:if true="settings.show_exif">
    <div class="tab-pane" id="tab2" role="tabpanel">

      <koken:exif>
        <koken:not empty="exif.model">
          <strong>Camera:</strong> {{ exif.model }}
        </koken:not>
        <koken:not empty="exif.exposure">
          <strong>Exposure:</strong> {{ exif.exposure }}<br>
        </koken:not>
        <koken:not empty="exif.iso_speed_ratings">
            <strong>ISO:</strong> {{ exif.iso_speed_ratings.raw }}<br>
          </koken:not>
          <koken:not empty="exif.aperture">
            <strong>Aperture:</strong> <span class="fstop">f</span>/{{ exif.aperture.computed }}
          </koken:not>
      </koken:exif>

    </div>
</koken:if>
  </div>

  <script>
    $(function () {
      $('#info a:first').tab('show')
    })
  </script>

</div>
