<koken:load>
    <div class="container">
        <center>
            <div class="col-lg-12 col-xs-12">
              <div class="btn-group" role="group">
                <a href="#" data-bind-to-key="up" id="sldshw_restart" class="btn btn-sm btn-secondary"><i class="fa fa-fast-backward"></i></a>
                <a href="#" data-bind-to-key="left" id="sldshw_prev" class="btn btn-sm btn-secondary k-pulse-button-disabled"><i class="fa fa-chevron-left"></i></a>
                <a class="btn btn-sm btn-secondary"><span id="content-current"></span>/<span id="content-total"></span></a>
                <a href="#" data-bind-to-key="right" id="sldshw_next" class="btn btn-sm btn-secondary"><i class="fa fa-chevron-right"></i></a>
                <a href="#" data-bind-to-key="space" id="sldshw_play" class="btn btn-sm btn-secondary"><i class="fa fa-play"></i></a>
            </div>
    </div>
    </center>
    </div>
    <div class="container">
        <div class="col-lg-12 col-xs-12 text-xs-center p-y-2">
            <div id="ss_spinner"></div>
            <koken:pulse jsvar="pulse" next="#sldshw_next" previous="#sldshw_prev" toggle="#sldshw_play" restart="#sldshw_restart" loop="false" autostart="false" />
            <div class="text-xs-center p-y-2" id="content-caption"></div>
        </div>
    </div>
    <script>
        pulse.on('playing', function(isPlaying) {
            var el = $('#sldshw_play');
            if (isPlaying) {
                el.html('<i class=\"fa fa-pause\"></i>');
            } else {
                el.html('<i class=\"fa fa-play\"></i>');
            }
        });

        pulse.on('item', function(e) {
            $('#content-caption').html(e.data.caption);
        });

        pulse.on('item', function(e) {
            $('#content-total').html(e.data.total);
        });

        pulse.on('item', function(e) {
            $('#content-current').html(e.data.position);
        });


        pulse.on('start', function() {
            $('#ss_spinner').addClass('loading');
        });
        pulse.on('waiting', function(e) {
            if (e) {
                $('#ss_spinner').addClass('loading');
            } else {
                $('#ss_spinner').removeClass('loading');
            }
        });
        pulse.on('dataloaded', function() {
            $('#ss_spinner').removeClass('loading');
        });
    </script>
</koken:load>
