<div class="container-fluid">
    <div class="row">
        <koken:loop>
            <div class="col-xs-{{ settings.essay_columns_sm }} col-sm-{{ settings.essay_columns_sm }} col-md-{{ settings.essay_columns_md }} col-lg-{{ settings.essay_columns_md }} col-xl-{{ settings.essay_columns_md }}">
                <div class="card">
                    <koken:if data="featured_image" equals="">
                        <koken:link> <img src="{{ location.theme_path }}/img/noimg.jpg" class="timeline-photo" width="100%" style="padding:0; margin:0;" /> </koken:link>
                        <koken:else>
                            <koken:featured_image>
                                <koken:link>
                                    <koken:img class="timeline-photo" style="padding:0; margin:0;" size="3:2" lazy="true" fade="true" />
                                </koken:link>
                            </koken:featured_image>
                    </koken:if>
                    <div class="card-header"><i class="fa fa-clock-o"></i>
                        <koken:time relative="true" />
<br>
                        <koken:link>
                            <span class="card-title" style="font-size:24px;">{{ essay.title }}</span>
                        </koken:link>
</div>
                </div>
            </div>
        </koken:loop>
    </div>
</div>
