<koken:if data="settings.content_grid_layout" equals="masonry">
<script>
    $(document).ready(function(){
      /* Start rowGrid.js */
      $(".container").rowGrid({itemSelector: ".item", minMargin: 2, maxMargin: 2, firstItemClass: "first-item",resize: true});
    });
  </script>
<div class="container" style="max-width:1600px;">
  <koken:loop>
    <div class="item">
      <koken:link>
        <koken:img width="600" height="400" lazy="true" fade="true" />
      </koken:link>
    </div>
  </koken:loop>
</div>
</koken:if>
<koken:if data="settings.content_grid_layout" equals="bootstrap_columns">
<koken:loop>
  <koken:link>
    <div class="col-md-{{ settings.columns_md_content }} col-xs-{{ settings.columns_xs_content }} margin-0 padding-0">
      <koken:img size="3:2" lazy="true" fade="true" style="object-fit: cover;overflow:hidden;" />
    </div>
  </koken:link>
</koken:loop>
</koken:if>
