@import url('https://fonts.googleapis.com/css?family=Italianno');
.site-logo {
    font-family: 'Italianno', cursive;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    text-transform: none;
}
