@import url('https://fonts.googleapis.com/css?family=Kanit:100');
.site-logo {
  font-family: 'Kanit', sans-serif;
  -webkit-transition: padding .2s ease-in;
  -moz-transition: padding .2s ease-in;
  transition: padding .2s ease-in;
}
