@import url('https://fonts.googleapis.com/css?family=Lobster');
.site-logo {
    font-family: 'Lobster', cursive;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}
