@import url('https://fonts.googleapis.com/css?family=Roboto');
.site-logo {
    font-family: 'Roboto', sans-serif;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}
